<div class="options-contant text-center">  
  <div class="container full-page">
    <div class="row">
        <div class="options-title">
          <h1 style="color: #f57421;font-size: 55px;font-family: cursive"><span>Options</span></h1>
        </div>
        <div class="col-md-4 clearfix">
          <a href="#" style="color: white">   <div class="circleBase type1 " > <div class="circle-in"><h2>Make </h2>
             <h2> Your </h2>
             <h2> List</h2>
             </div></div></a>
        </div>
        <div class="col-md-4 clearfix "> 
           <a href="#" style="color: white"> <div class="circleBase type1"><div class="circle-in"><h2>Find</h2>
            <h2> Your </h2>
            <h2> Place</h2>
            </div></div></a>
        </div>
        <div class="col-md-4 clearfix ">
            <a href="#" style="color: white">  <div class="circleBase type1"><div class="circle-in"><h2>Make </h2>
             <h2> Your </h2>
             <h2> Wish List</h2>
             </div></div></a>
         </div>
      </div>
    </div>  
  </div>
</div>